<div class="container">
<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="pad-top">
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><p><%= user.email %></p></td>
        <td><p><%= link_to 'Show', user %></p></td>
        <td><p><%= link_to 'Edit', edit_user_path(user) %></p></td>
        <td><p><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></p></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p><%= link_to 'New User', new_user_path %></p>
</div>
