<div class="container">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <h3><%= product.name %></h3>
         <%= if(product.image_url != nil && product.image_url != "" )
            link_to(image_tag(product.image_url, class: "img-responsive product-image"), product)
          else
            "No image."
          end %>
        <p><%= product.description %><br>
        <%= product.colour %><br>
        <%= product.price * 0.01 %> &euro;<br></p>
        <%= link_to 'Show', product, class:'btn btn-default'%>
        <p><%= link_to 'View Details >>', product , class:"btn btn-default btn-xs" %>
        <p><% if signed_in? && current_user.admin? %>
           <%= link_to 'Edit', edit_product_path(product) %>
        <% end %>
        <% if signed_in? && current_user.admin? %>
          <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </p>
      </div><!-- /col -->
    <% end %>
  </div>

        <% if signed_in? && current_user.admin? %>
           <h3><%= link_to 'Creat new product', new_product_path %></h3>
        <% end %>
</div>
