<div class="container pad-top pad-bottom" >
    <h2 class="text-center"><%= @product.name %>
    </h2>
  <div class="row margin-sides">

    <div class="col-lg-6 col-md-12 col-sm-12 pad-top">
    <div class='inner-item img-responsive img-fluid'>
    <div>
      <img src="<%= image_path(@product.image_url) %>" width="350px" alt=""
           data-zoom-image = "<%= image_path("large/" + @product.image_url) %>"
           class="thumbnail image-zoom img-responsive">
        </div>

          </div>
        </div>
          <div class="col-lg-6 col-md-12 col-sm-12 pad-top">
            <h3 class=""><strong>Description: </strong><%= @product.description %>
            </h3>
            <h3>
             <strong>Colour available: </strong><%= @product.colour %>
            </h3>
            <h3 name="price_in_cents" class="">

              <strong>Price: </strong><%= number_to_currency@product.price * 0.01%> &euro;
            </h3>
            <p>
            

            <% if user_signed_in? %>
          <%= form_tag "/payments/create" do %>
            <%= render partial: "shared/stripe_checkout_button" %>
          <% end %>
        <% end %>

            </p>
            <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>
            <p class="">
            <% if signed_in? && current_user.admin? %>
           <%= link_to 'Edit', edit_product_path(@product) %>
            <% end %>
            <%= link_to 'Back', products_path, class:'btn btn-default'%>
            </p>

          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 pad-bottom pad-top">
              <%= render 'new_comment', product: @product %>
          </div>
          <div class="pagination">
              <%= render 'comments', product: @product %>
              <%= will_paginate @comments, :page_links => false %>
          </div>

      </div>
</div>
